---
layout: page
permalink: /journal/
title: Journal
---

<div id="archives">
  {% for category in site.categories %}
  <div class="post-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <a
      class="nav-link"
      style="color:black"
      href="{{ site.baseurl }}{{ post.url }}"
      >{{ post.title }}</a
    >
    {% endfor %}
  </div>
  {% endfor %}
</div>
