---
layout: page
permalink: /projects/
title: Projects
---

<div class="home">
  <div class="posts">
    {% for post in site.posts %}
    <div class="post py3">
      <a href="{{ post.url | relative_url }}" class="post-link"
        ><h3 class="h1 post-title">{{ post.title }}</h3></a
      >
      <span class="post-summary">
        {% if post.summary %} {{ post.summary }} {% else %} {{ post.excerpt }}
        {% endif %}
      </span>
    </div>
    {% endfor %}
  </div>
</div>
