<footer class="center">
  <div class="measure">
    <small>
      This site is a cookie-free zone 🍪
    </small>
  </div>
  <div class="measure">
    <small style="text-align:center;">
      Powered by <img src="/images/site/gnu.png" alt="gnu" /> /
      <img src="/images/site/debian.png" alt="debian" />
    </small>
  </div>
</footer>
