<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    {% if page.title %}{{ page.title | strip_html }} &#8211; {% endif %}{{
      site.title | strip_html
    }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="{% if page.meta_description %}{{
      page.meta_description | xml_escape
    }}{% elsif page.summary %}{{ page.summary | xml_escape }}{% else %}{{
      site.description | xml_escape
    }}{% endif %}"
  />
  {% if page.meta_robots %}
  <meta name="robots" content="{{ page.meta_robots }}" />
  {% else %}
  <meta name="robots" content="all" />
  {% endif %}
  <meta name="author" content="{{ site.author }}" />
  {% if site.fb_page %}
  <meta property="fb:pages" content="{{ site.fb_page_id }}" />
  {% endif %} {% if page.categories %}
  <meta name="keywords" content="{{ page.categories | join: ', ' }}" />
  {% endif %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{
    "/css/pixyll.css" | relative_url
  }}?{{
    site.time | date: "%Y%m%d%H%M"
  }}" type="text/css">

  <!-- Fonts -->
  <link
    href="/css/fonts.css"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="/lib/fontawesome-free-5.12.0-web/css/fontawesome.min.css"
    rel="stylesheet"
  />

  <!-- Open Graph -->
  <!-- From: https://github.com/mmistakes/hpstr-jekyll-theme/blob/master/_includes/head.html -->
  <meta property="og:locale" content="{{
    
    site.text.og_locale | default: "en_US"
  }}">
  <meta property="og:type" content="article" />
  <meta
    property="og:title"
    content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{
      site.title | xml_escape
    }}{% endif %}"
  />
  <meta
    property="og:description"
    content="{% if page.description %}{{
      page.description | xml_escape
    }}{% else %}{{ site.description | xml_escape }}{% endif %}"
  />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.title | xml_escape }}" />
  {% if site.post_preview_image %}
  <meta property="og:image" content="{{ site.url }}/images/me.jpeg" />
  {% endif %}

  </script>
</head>
