<header class="site-header px2 px-responsive">
    <div class="mt2 wrap">
      <div class="measure">
        <a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a>
        <nav class="site-nav">
          {% include navigation.html %}
        </nav>
        <div class="clearfix"></div>
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
      </div>
    </div>
  </header>
  