<div class="social-icons">
  <div class="social-icons-right">
    {% if site.gitlab_username %}
    <a
      class="fa fa-gitlab"
      href="https://gitlab.com/{{ site.gitlab_username }}"
    ></a>
    {% endif %} {% if site.email %}
    <a class="fa fa-envelope" href="mailto:{{ site.email }}"></a>
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
