<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  <body class="site{% if site.animated %} animated fade-in-down{% endif %}">
    <div class="site-wrap center">
      {% include header.html %}

      <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
